.book-edit {
    /* background-color: var(--clr1bg); */
    padding: 5vh;
    border-radius: 12px;
    margin: auto;
    padding-block-start: 70px;
    background: linear-gradient(135deg,
            var(--clr1bg-light) 0%,
            var(--clr2) 40%,
            var(--clr1bg-light) 70%,
            var(--clr2) 100%);
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    color: var(--gray3);
}

.book-edit button {
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
        background-color: var(--clr2);
    margin: 0.5em;
    border: 1px solid var(--clr2);
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

.book-edit form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-edit label {
    font-weight: bold;
}

.book-edit input,
.book-edit select {
    padding: 0.6rem 0.75rem;
    border: 1px solid var(--clr2bg);
    border-radius: 6px;
    font-size: 1rem;
}

.book-edit button {
  align-self: start;
  width: fit-content;
}