 /* mail index  */
 .mail-index {
     font-family: 'RobotoFlex', 'RobotoRegular', Helvetica, Arial, sans-serif;
     background-color: var(--mail-main-bg);
     display: flex;
     position: relative;
     min-height: 100vh;
 }

 .sidebar-icon-bar {
     width: 72px;
     background-color: var(--mail-main-bg);
     height: 100vh;
     position: sticky;
     top: 0;
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px 0;

     position: fixed;
     top: 102.8px;
     left: 0;
 }

 .sidebar-icon-bar .sidebar-menu {
     list-style: none;
     padding: 0;
     margin: 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .sidebar-icon-bar .sidebar-item {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 32px;
     width: 32px;
     border-radius: 50%;
     cursor: pointer;
     transition: background-color 0.2s;
 }

 .sidebar-icon-bar .sidebar-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     padding: 0;
     margin: 0;
 }

 .sidebar-expanded {
     position: fixed;
     top: 0;
     left: 0;
     width: auto;
     height: 100vh;
     background-color: var(--mail-main-bg);
     z-index: 20;
     box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
     padding-top: 10px;
     margin-block-start: 102.8px;

     transition: transform 0.5s ease-in-out;
 }

 .sidebar-expanded.open {
     transform: translateX(0);
 }


 .sidebar-expanded .sidebar-menu {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .sidebar-expanded .sidebar-item {
     display: flex;
     align-items: center;
     height: 32px;
     padding-inline: 12px;
     cursor: pointer;
     margin-inline-end: 12px;
     padding-inline-start: 24px;
 }

 .sidebar-expanded .sidebar-item.active,
 .sidebar-icon-bar .sidebar-item.active {
     background-color: var(--mail-sidebar-selected-bg);
     color: var(--mail-sidebar-selected-color);
     font-weight: 700;
 }

 .sidebar-icon-bar .sidebar-item.active {
     border-radius: 40px;
 }

 .sidebar-expanded .sidebar-item.active {
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
 }

 .sidebar-expanded .sidebar-item.active svg,
 .sidebar-icon-bar .sidebar-item.active svg {
     fill: var(--mail-sidebar-selected-color);
 }


 .sidebar-expanded .sidebar-item.active .count {
     color: var(--mail-sidebar-selected-color);
 }

 .sidebar-expanded .sidebar-link {
     display: flex;
     align-items: center;
     gap: 12px;
     width: 100%;
 }

 .sidebar-expanded .sidebar-item:not(:first-child):hover {
     background-color: var(--mail-sidebar-hover-bg);
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
 }

 .sidebar-expanded .sidebar-item:not(:first-child) {
     width: 11em;
 }

 .sidebar-icon-bar svg,
 .sidebar-expanded svg {
     flex-shrink: 0;
     width: 24px;
     height: 24px;
 }

 .sidebar-expanded span {
     white-space: nowrap;
     font-size: 14px;
 }

 .mail-index .mail-list {
     flex-grow: 1;
     width: 100%;
     border-radius: 1em;
     overflow: hidden;
     margin-inline-end: 1em;

 }

 .sidebar-expanded .compose,
 .mail-index .compose {
     background: var(--mail-compose-bg);
     color: var(--mail-sidebar-selected-color);
     border-radius: 1em;
     margin-block-end: 2em;
     margin-inline: 0.5em;
     transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
     font-weight: 500;
     height: 56px;
     width: 56px;
     min-height: 56px;
     max-height: 56px;
     line-height: 56px;
 }

 .sidebar-expanded .compose svg,
 .mail-index .compose svg {
     fill: var(--mail-sidebar-selected-color);
 }

 .sidebar-expanded .compose:hover,
 .mail-index .compose:hover {
     box-shadow: inset -1px 0 0 var(--mail-star-empty), inset 1px 0 0 var(--mail-star-empty), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
 }

 .sidebar-expanded .compose {
     height: 56px;
     line-height: 56px;
     width: 8.653125em;
     height: 3.5em;
     padding-inline-start: 16px;
 }

 .sidebar-expanded .sidebar-link .count {
     color: var(--mail-new-msg-placholders-color);
     margin-left: auto;
 }

 .mail-index.sidebar-open .sidebar-icon-bar {
     display: none;
 }

 /* @media (min-width: 480px) {
     .sidebar-expanded {
         position: relative;
         left: 0;
         transform: none;
         box-shadow: none;
         z-index: auto;
     }

     .mail-index.sidebar-open .sidebar-icon-bar {
         display: none;
     }
 }

 @media (max-width: 480px) {
     .sidebar-expanded {
         position: absolute;
         transform: translateX(-100%);
     }

     .sidebar-expanded.open {
         transform: translateX(0);
     }
 } */