.mail-details {
    font-family: 'RobotoFlex', 'RobotoRegular', Helvetica, Arial, sans-serif;
    background-color: var(--mail-inbox-bg);
    display: flex;

    flex-direction: column;
    margin-block: 1em;
    padding-top: 2rem;
    width: 100%;
    border-radius: 1em;
    margin-inline-end: 0.5em;
    color: var(--mail-details-txt-color);
}

.mail-details header {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.mail-details header button:first-child {
    margin-right: auto;
}


.mail-details button {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.mail-details svg {
    fill: var(--mail-body);
}

.mail-details header button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.375em 0.5em;
}

.mail-details button:hover {
    background: var(--mail-star-bg);
    transform: scale(1.1);
}

.mail-details h4 {
    font-weight: 700;
    font-size: 0.875em;
}

.mail-details .to {
    font-weight: lighter;
    font-size: 0.75em;
    color: var(--mail-details-to-color);
    margin-inline-start: 54px;
}

.mail-details h1 {
    font-size: 1.375em;
    text-align: center;
}

.mail-details h1,
.mail-details h4 {
    margin-block-end: 1em;
}

.mail-details p {
    padding: 1em;
    background: var(--mail-body-bg);
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}

.mail-details .name-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #8771d4;
    margin-inline-end: 1em;
    color: var(--mail-inbox-bg);
}