.mail-header {
    display: flex;
    align-items: center;
    padding-block: 0.5em;
    background-color: var(--mail-main-bg);
    gap: 0;
}

/* .mail-header > :first-child {
    margin-inline-start: 1em;
} */

.mail-header .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100px;
    padding-inline-start: 1em;
}

.mail-header .search-bar {
    display: flex;
    align-items: center;
    background-color: var(--mail-sidebar-bg);
    border-radius:40px;
    padding: 0.4em 1em;
    flex: 1;
    max-width: 500px;
    margin-inline-end: 1em;
    
}

.mail-header .search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 0.4em;
    font-size: 14px;
    flex: 1;
}

.mail-header .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    color: var(--mail-body);
    cursor: pointer;
}

.mail-header .search-icon svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.mail-header .search-bar:focus-within {
    background-color: var(--mail-inbox-bg);
}