 /* mail index  */
 .mail-index {
     font-family: 'RobotoFlex', 'RobotoRegular', Helvetica, Arial, sans-serif;
     background-color: var(--mail-main-bg);
     display: flex;
     position: relative;
 }

 .sidebar-icon-bar {
     min-width: 100px;
     background-color: var(--mail-main-bg);
     height: 100vh;
     position: sticky;
     top: 0;
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 16px;
 }

 .sidebar-icon-bar .sidebar-menu {
     list-style: none;
     padding: 0;
     margin: 0;
     width: 100%;
 }

 .sidebar-icon-bar .sidebar-item {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 32px;
     cursor: pointer;
 }

 .sidebar-icon-bar .sidebar-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }

 .sidebar-expanded {
     position: absolute;
     top: 0;
     left: 0;
     width: 232px;
     height: 100vh;
     background-color: var(--mail-main-bg);
     z-index: 2;
     box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
     padding-top: 10px;

     transform: translateX(-100%);
     transition: transform 0.5s ease-in-out;
 }

 .sidebar-expanded.open {
     transform: translateX(0);
 }


 .sidebar-expanded .sidebar-menu {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .sidebar-expanded .sidebar-item {
     display: flex;
     align-items: center;
     height: 32px;
     padding-inline: 12px;
     /* gap: 12px; */
     cursor: pointer;
     margin-inline: 12px;
 }

 .sidebar-expanded .sidebar-link {
     display: flex;
     align-items: center;
     gap: 12px;
     width: 100%;
 }

 .sidebar-expanded .sidebar-item:not(:first-child):hover {
     background-color: var(--mail-sidebar-hover-bg);
     border-radius: 40px;
 }

 .sidebar-expanded svg {
     flex-shrink: 0;
     width: 24px;
     height: 24px;
 }

 .sidebar-expanded span {
     white-space: nowrap;
     font-size: 14px;
 }

 .mail-index .mail-list {
     flex-grow: 1;
     width: 100%;
     border-radius: 1em;
     overflow: hidden;
     margin-inline-end: 1em;

 }

 .mail-index .compose {
     background: var(--mail-compose-bg);
     color: var(--mail-sidebar-selected-color);
     border-radius: 0.5em;
     margin-block-end: 2em;
     transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
     font-weight: 500;
 }

 .mail-index .compose svg {
     fill: var(--mail-sidebar-selected-color);
 }

 .mail-index .compose:hover {
     box-shadow: inset -1px 0 0 var(--mail-star-empty), inset 1px 0 0 var(--mail-star-empty), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
 }

 .sidebar-expanded .compose {
     max-width: 8.653125em;
     height: 3.5em;
     padding-inline-end: 1.5em;
    /* margin-inline-start: 12px; */
 }

 .sidebar-expanded .sidebar-link .count {
     color: var(--mail-new-msg-placholders-color);
     margin-left: auto;
 }