
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

/*ROBOTO FLEX*/
@font-face {
    font-family: 'RobotoFlex';
    src: url('../../fonts/RobotoFlex.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}

/*ROBOTO REGULAR*/
@font-face {
    font-family: 'RobotoRegular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}