/*ROBOTO FLEX*/
@font-face {
    font-family: 'RobotoFlex';
    src: url('../../fonts/RobotoFlex.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}

/*ROBOTO REGULAR*/
@font-face {
    font-family: 'RobotoRegular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}