:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;

    /* vars for mail-app */
    --mail-inbox-bg: rgb(255, 255, 255);
    --mail-inbox-bg-read: #f2f6fc;
    --mail-border: rgb(128, 128, 128);
    --mail-color: rgb(32, 33, 36);
    --mail-star-filled: rgb(251, 188, 4);
    --mail-star-empty: rgb(218, 220, 224);
    --mail-star-bg: rgba(60, 64, 67, 0.32);
    --mail-body: rgb(95, 99, 104);
    --mail-sidebar-bg: rgb(233, 238, 246);
    --mail-sidebar-hover-bg: rgb(225, 227, 228);
    --mail-sidebar-selected-bg: rgb(208, 217, 249);
    --mail-sidebar-selected-color: rgb(0, 29, 53);
    --mail-compose-bg: rgb(194, 231, 255);
    --mail-new-msg-h-color: rgb(4, 30, 73);
    --mail-new-msg-placholders-color: rgb(95, 99, 104);
    --mail-input-color: rgb(34, 34, 34);
    --mail-send-btn-color: rgb(11, 87, 208);
    --mail-main-bg: rgb(246, 248, 252);
    --mail-details-txt-color: rgb(31, 31, 31);
    --mail-details-to-color: rgb(94, 94, 94);

    /* vars for user-msg */
    --msg-bg: #323232;
    --msg-success-bg: rgb(232, 245, 232);
    --msg-error-bg: rgb(244, 67, 54);
    --msg-color: rgb(255, 255, 255);

    /*NOTE APP VARS*/
    /* --- Sidebar Icons --- */
    --notes-sidebar-icon-bg-bulb: rgb(254, 239, 195);
    /* clicked bg */
    --notes-sidebar-icon-bg-hover: rgb(241, 243, 244);
    /* hover bg */
    --notes-sidebar-icon-color-active: rgb(32, 33, 36);
    /* clicked + body font color */
    --notes-sidebar-icon-color-default: rgb(95, 99, 104);
    /* unclicked */


    /* --- Top Bar Icons --- */
    --notes-top-bar-icon-hover-bg: rgba(95, 99, 104, 0.157);
    /* hover bg + opacity 0.87*/
    --notes-top-bar-icon-color: #5f6368;
    /* default icon color, hamburger, logo Keep */

    /* --- Dropdown Menu font color --- */
    --dropdown-settings-menu: rgb(60, 64, 67);

    /* --- Primary Action --- */
    --notes-primary-color: rgb(26, 115, 232);
    /*used for buttons (Turn On, Save), modal titles, and highlights */
    --notes-border-clr: #e0e0e0;

    /*NOTES BG COLOR PICK*/

    --notes-bg1: #faafa8;
    --notes-bg2: #f39f76;
    --notes-bg3: #fff8b8;
    --notes-bg4: #e2f6d3;
    --notes-bg5: #b4ddd3;
    --notes-bg6: #d4e4ed;
    --notes-bg7: #aeccdc;
    --notes-bg8: #d3bfdb;
    --notes-bg9: #f6e2dd;
    --notes-bg10: #e9e3d4;
    --notes-bg11: #efeff1;



}