.new-note-container {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    margin: 20px auto;
    font-family: 'RobotoFlex', sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.new-note-txt {
    position: relative;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--notes-top-bar-icon-color);
    cursor: text;
    margin: 0;
    line-height: 1.38;
}

.new-note-title {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 16px 16px 0px;
    color: var(--notes-top-bar-icon-color);
    cursor: text;
}

/*new: when the element is empty show data-placeholder txt
When the user types something, the element is no longer empty, 
and the pseudo element disappears automatically.
use::before to simulate placeholder text in contenteditable elements
*/
.new-note-title:empty::before,
.new-note-txt:empty::before {
    content: attr(data-placeholder);
    position: absolute;
    /* place the placeholder text exactly inside the editable element’s box.*/
}

.new-note-title:focus {
    outline: none;
    /*no focus*/
}

.save {
    align-self: flex-end;
    width: auto;
    border: 1px solid transparent;
    background-color: transparent;
    font-family: 'RobotoFlex', sans-serif;
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: .03em;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 24px;
    height: 36px;
    line-height: 1.25rem;
    margin: 0px 15px 5px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.save:hover {
    background-color: var(--notes-sidebar-icon-bg-hover);
}

.new-note-container .note-pin {
    opacity: 1;
    pointer-events: auto;
}

.new-note-toolbar {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.new-note-toolbar button {
    display: flex;
    flex: 1 0 auto;
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--notes-sidebar-icon-color-active);
    opacity: .8;
    margin: 0px 8px;
    padding: 0px;
}

.new-note-toolbar button svg {
    width: 18px;
    height: 18px;
}

.new-note-toolbar button:hover {
    background-color: var(--notes-sidebar-icon-bg-hover);
}

.new-note-footer {
    display: flex;
    justify-content: space-between;
}