.note-filter-container {
    position: relative;
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: none;
    white-space: nowrap;
    margin-left: 20px;
    flex: 1 1 500px;
    min-width: 200px;
    max-width: 600px;
}

@media (max-width: 480px) {
    .note-filter-container {
        flex: 1 1 120px;
        /* grow, shrink, base 500px */
    }
}

#txt.note-input-filter {
    font-size: 16px;
    background: transparent;
    border: none;
    font-family: RobotoFlex, sans-serif;
    height: 46px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    margin: 0;
    width: 100%;
}

.search-form svg {
    color: var(--notes-sidebar-icon-color-default);
}

/*Filter by type search-select bar*/
.note-type-filter {
    position: relative;
    font-size: 14px;
    background: transparent;
    border: none;
    font-family: RobotoFlex, sans-serif;
    height: 46px;
    outline: none;
    padding: 0 36px 0 12px;
    border-radius: 8px;
    background-color: #f1f3f4;
    cursor: pointer;
    appearance: none;
    color: var(--notes-top-bar-icon-color);
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5H7z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    min-width: 110px;

}

.note-type-filter:hover {
    background-color: #e8eaed;
}

@media (max-width: 480px) {
    .note-type-filter {
        min-width: 90px;
        font-size: 12px;
    }
}