/* Styles the internal content of the note: title, text, pin icon layout */
.note-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: anywhere;
    padding: 12px 16px;
}

.note-pin {
    position: absolute;
    top: 6px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    opacity: 0;
    cursor: pointer;
    color: var(--notes-top-bar-icon-color);
    pointer-events: none;
    border-radius: 50%;
    background-color: transparent;
    transition: opacity 0.2s ease;

}

/* Show pin on note hover */
.note-preview:hover .note-pin {
    opacity: 1;
    pointer-events: auto;
}

.note-pin:hover {
    background-color: var(--notes-sidebar-icon-bg-hover);
}

/* show pin if pinned */
.note-pin.active {
    opacity: 1;
    pointer-events: auto;
}

.note-preview h3 {
    font-weight: 500;
    color: var(--notes-top-bar-icon-color);
    letter-spacing: .025em;
}

.note-pin svg {
    background-color: transparent;
}