.book-index {
    color: var(--gray3);
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(135deg,
            var(--clr1bg-light) 0%,
            var(--clr2) 40%,
            var(--clr1bg-light) 70%,
            var(--clr2) 100%);
    min-height: 100vh;
    padding-block-start: 46px;
}

.book-index .btn-container {
    display: flex;
    gap: 1.5em;
    justify-content: start;
    flex-wrap: wrap;
    margin: 5vw;

}

.book-index .btn {
    background-color: var(--clr2bg);
    cursor: pointer;
    border: 1px solid var(--clr2);
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

.book-index .btn:hover {
    color: white;
}

.book-index button {
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 1px solid var(--clr2);
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

.book-index button:hover {
    background-color: var(--clr2);
    color: white;
    transition: 0.3s;
}

.book-index input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}