 /* home */

 .home {
     font-family: 'RobotoFlex', 'RobotoRegular', Helvetica, Arial, sans-serif;
     --s: 105px;
     /* control the size*/
     --c1: #f2f6fc;
     --c2: #dadce0;
     --c3: #d4e4ed;

     background:
         conic-gradient(from 75deg, var(--c1) 15deg, var(--c2) 0 30deg, #0000 0 180deg,
             var(--c2) 0 195deg, var(--c1) 0 210deg, #0000 0) calc(var(--s)/2) calc(.5*var(--s)/tan(30deg)),
         conic-gradient(var(--c1) 30deg, var(--c3) 0 75deg, var(--c1) 0 90deg, var(--c2) 0 105deg,
             var(--c3) 0 150deg, var(--c2) 0 180deg, var(--c3) 0 210deg, var(--c1) 0 256deg,
             var(--c2) 0 270deg, var(--c1) 0 286deg, var(--c2) 0 331deg, var(--c3) 0);
     background-size: var(--s) calc(var(--s)/tan(30deg));
     background-repeat: repeat;

     width: 100%;
     min-height: 100vh;
 }

 .home .box-container {
     position: relative;
     padding: 1em 0;
 }

 .links-container {
     position: absolute;
     bottom: 10px;
     right: 20px;
     display: flex;
     justify-content: space-between;
     gap: 1.5em;
 }

 .link {
     display: flex;
     align-items: center;
     flex-direction: column;
     text-decoration: none;
     color: var(--mail-body);
     font-size: 1em;
     font-weight: bold;
 }

 .link svg {
     margin-block-end: 8px;
     width: 36px;
     height: 36px;
     fill: var(--mail-body);
 }

 .app-link:hover,
 .link svg:hover,
 .link:hover {
     color: var(--notes-primary-color);
 }

 .about {
     padding: 1em;
 }

 .apps-links-container {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 4em;
     height: 100vh;
     width: 100%;
     color: var(--mail-body);
     font-size: 1.5em;
     font-weight: bold;
 }

 .app-link {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .apps-links-container svg {
     margin-block-end: 8px;
     width: 64px;
     height: 64px;
     transition: transform 0.3s ease;
 }

 .app-link:hover svg {

     transform: scale(1.05);
 }

 @media (max-width: 480px) {
     .apps-links-container {
         flex-direction: column;
     }
 }